<h1>Events</h1>
<section id="events">
    <article ng-repeat="event in events">
        <ul>
            <li>Type:{{event.type}}</li>
            <li>Action:{{event.action}}</li>
            <li>Items:<ul>
                <li ng-repeat="item in event.items">
                    <ul>
                        <li>name:{{item.name}}</li>
                        <li>createdAt:{{item.createdAt}}</li>
                        <li>id:{{item.id}}</li>
                    </ul>
                </li>
            </ul></li>
        </uk>
    </article>
</section>
