var development = {
    'db': {
        'url': 'http://localhost:9200',
        'index': 'retrospectives_22012014'
    },
    'app': {
        'host':'localhost',
        'port': 3000
    },
    logstash: {
      host: '127.0.0.1',
      port: 28777,
      node_name: 'api-retrospectacular'
    }
},

production = {
    'db': {
        'url': 'http://localhost:9200',
        'index': 'retrospectives_22012014'
    },
    'app': {
        'host':'localhost',
        'port': 3000
    }
};

exports.Config = global.process.env.NODE_ENV === 'production' ? production : development;
