var development = {
    "db": {
        "url": "http://localhost:9200",
        "index": "retrospectives_22012014"
    },
    "kafka": {
      "connectionString": "localhost:2181/kafka0.8",
      "clientId": "retro-kafka-client",
      "topic": "retro-messenger"
    },
    "app": {
        "host":"localhost",
        "port": 3000
    }
},

production = {
    "db": {
        "url": "http://localhost:9200",
        "index": "retrospectives_22012014"
    },
    "kafka": {
      "connectionString": "localhost:2181/kafka0.8",
      "clientId": "retro-kafka-client",
      "topic": "retro-messenger"
    },
    "app": {
        "host":"localhost",
        "port": 3000
    }
};

exports.Config = global.process.env.NODE_ENV === 'production' ? production : development;
